<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div id="body">
        <div id="body_title">
            <h2 id="sub_title">우리 오늘은</h2>
            <h1 id="main_title">MOMOGO<span id="question">?</span></h1>
        </div>
        <div id="body_main">
            <span id="body_top">시작하기!</span>
            <!-- 비회원 버튼 -->
            <button class="main_button" type="button" id="guest_button" onclick="window.location.href='{% url 'BapGo:start' %}'">비회원</button>
            <!-- 회원 버튼 -->
            <button class="main_button" type="button" id="member_button" onclick="window.location.href='{% url 'member:login' %}'">회원</button>
        </div>
        <div id="body_bottom">
            <!-- 회원가입 링크 -->
            <a href="{% url 'member:signup' %}">회원가입</a>
        </div>
    </div>
</body>
</html>